// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Make sure body is entire page
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}


h1, h2, p {
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
}

h2, p {
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    // line-height: 18px;
}

.d-none{
    display: none;
}

.button{
    margin: auto;
    margin-bottom: 15px;
    margin-top: 10px;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
    box-shadow: 0 2px 5px #000;
    text-align: center;
    color: #ffffff;
}

.button-primary{
    background-color: #f8c682;

}


// .Info
.button-copy{
    font-size: 22px;
}

.body-title{
    padding-left: 15px;
}

.body-subtitle{
    padding-left: 15px;
    padding-top: 15px;
}


.body-copy{
    line-height: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    max-width: 350px;
}

.status-bar{
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    margin: auto;
    margin-bottom: 35px;
    width: 200px;
    border-radius: 25px;
    // border: solid 2px #000;
    text-align: center;
    box-shadow: 0 3px 5px -2px #000;
    font-size: 20px;
    line-height: 35px;
    color: white;
    text-shadow: 0 0 5px #000;
    background-color: #7fb069;
}



// ~~~~~~~~~~~~~~~~~~~~~~~~~
// Preloader
// ~~~~~~~~~~~~~~~~~~~~~~~~~

.preloader{
    pointer-events: none;
    z-index: 100;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.preload{
    pointer-events: none;
}

.preloader-background{
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    &.on{
        transition: opacity 2s;
        opacity: 0;
    }
}

.preload-dark{
    background-color: #000000;
    width: 200%;
    height: 100%;
    position: absolute;
    &.on{
        transition: border-radius 0.5s, transform 2s 0.1s cubic-bezier(0.19, 1, 0.22, 1);
        border-radius: 100%;

    }
}

.preloader-top-left{
    top: 0;
    left: 0;
    transform: scale(1) translate(-50%, -50%);
    &.on{
        transform-origin: top left;
        transform: scale(0) translate(-100%, -100%);
    }
}
.preloader-top-right{
    top: 0;
    right: 0;
    transform: scale(1) translate(50%, -50%);
    &.on{
        transform-origin: top right;
        transform: scale(0) translate(100%, -100%);
    }
}
.preloader-bottom-left{
    bottom: 0;
    left: 0;
    transform: scale(1) translate(-50%, 50%);
    &.on{
        transform-origin: bottom left;
        transform: scale(0) translate(-100%, 100%);
    }
}
.preloader-bottom-right{
    bottom: 0;
    right: 0;
    transform: scale(1) translate(50%, 50%);
    &.on{
        transform-origin: bottom right;
        transform: scale(0) translate(100%, 100%);
    }
}
.preloader-text{
    color: white;
    font-size: 50px;
    font-weight: 900;
    text-shadow: 0 0 10px slategrey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.on{
        display: none;
    }
}



// ~~~~~~~~~~~~~~~~~~~~~~~~~
// The Home & Icons
// ~~~~~~~~~~~~~~~~~~~~~~~~~
.home {
    background-image: url(../images/miragePersonal.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.icon-lobby {
    position: absolute;
    bottom: 50px;
    right: 0;
    // left:50%;
    // transform: translateX(-50%);
    flex-direction: column;
    display: flex;
    align-items: flex-end;
}
.desk-icon{
    padding-left: 3px;
    padding-right: 3px;
    width: 104px;
}
.folder-icon{
    margin: auto;
    background-image: url(../images/folder.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 65px;
    width: 70px;
}
.icon-text{
    font-size: 17px;
    line-height: 19px;
    letter-spacing: -0.03em;
    overflow-wrap: break-word;
    text-align: center;
    // color: #fff;
    text-shadow: 0px 0px 1px 5px #fff;
    padding: 0;
}

.getting-started-icon{
    margin: auto;
    background-image: url(../images/manual.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 55px;
    width: 70px;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// A Window
// ~~~~~~~~~~~~~~~~~~~~~~~~~~
.red-close{
    position: absolute;
    bottom: -37px;
    right: 5px;
    background-color: red;
    border: 1px solid grey;
    border-radius: 10px;
    width: 50px;
    height: 30px;
}

.close-x-left, .close-x-right, .close-x-middle{
    width: 5px;
    height: 30px;
    border-radius: 20px;
    // background-color: ede2de;
    transform: translate(-50%, -50%) rotate(45deg);
    position: absolute;
    border: 1px solid #2c1D12;
    background-color: #2c1D12;
    left: 50%;
    top: 50%;
}

.close-x-right{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.close-x-middle{
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px 1px #2c1d12;
    background-color: #2c1D12;
    height: 8px;
    width: 8px;
}

.window-title{
    display: flex;
    justify-content: center;
    height: 36px;
    text-align: center;
    width: 100%;
    align-items: center;
}
.window-shadow{
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 2px);
    border: 1px solid grey;
    box-shadow: inset 0 0 4px;
    border-radius: 5px;
    overflow: hidden;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~
// A Folder
// ~~~~~~~~~~~~~~~~~~~~~~~~
.open-folder{
    bottom: 10%;
    height: 37%;
    // background-color: #fff;
    // max-height: 400px;
    // display: flex;
    // flex-direction: column-reverse;
}



.folder-content{
    height: 60px;
    width: 100%;
    // border-top: solid 1px;
    display: flex;
}


// ~~~~~~~~~~~~~~~~~~~~
// A File
// ~~~~~~~~~~~~~~~~~~~~
.open-file, .open-info, .open-folder{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    // border: solid 1px rgb(228, 228, 228);
    background-color: #EDE2DE;
    border: solid 1px #EDE2DE;
    border-bottom: solid 40px #EDE2DE;
    box-shadow: 0 0 3px 1px black;
    border-radius: 5px;
    width: calc(100vw - 5px);

}

.open-file{
    top: 20%;
    // transform: translate(-50%, -50%);
    height: 90vw;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~
// Info
// ~~~~~~~~~~~~~~~~~~~~~~~~~~
.open-info{
    height: 80%;
    bottom: 10%;
}

.info-body, .folder-body, .image-spacer{
    border: solid 1px grey;
    // text-align: center;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    // width: calc(100% - 2px);
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    &.on{
        transition: opacity 0.6s;
        opacity: 1;
    }
}

.folder-body {
    display: block;
    background-color: white;
}

.image-spacer{
    opacity: 0;
}

.toolbelt{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.tool-row{
    height: 35px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;

    img{
        padding: 5px;
    }
}

.tooltip{
    visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  left: 10px;
  top: 120%;
  z-index: 1;
}

// .tool:hover .tooltip {
//     visibility: visible;
// }

.tool{
    position: relative;
    height: 100%;
    margin: auto;
}

.header-image{
    height: 200px;
    margin: auto;
}

.rnp{
    width: 80%;
    margin: auto;
    padding: 20px;
}
.mission{
    width: calc(100vw - 5px);;
    margin: auto;
    // padding: 10px;
}
.prop-logo{
    width: 60%;
    padding: 20px;
    padding-top: 110px;
    padding-bottom: 90px;
    margin: auto;
    transform: scale(0);
    &.on {
        transition: all 1.5s 1s ease-out;
        transform: scale(1);
    }
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~
// Info Animations
// ~~~~~~~~~~~~~~~~~~~~~~~~~
.spin-in{
    transform: scale(0) rotate(360deg);
     &.on {
         transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.25);
         transform: scale(1) rotate(0);
     }
}
.slide-in{
    transform: translateY(-100px);
     &.on {
         transition: all 0.6s ease-out;
         transform: translateY(0);
     }
}
.scale-in{
    transform: scale(0);

     &.on {
         transition: all 1s 0.6s linear;
         transform: scale(1);
    }
}
.spin-out-propeller{
    position: absolute;
    z-index: 1;
    opacity: 1;
     &.on {
        animation: spinPropeller 1.5s forwards
    }
}
@keyframes spinPropeller {
    0% {transform: rotate(0deg); opacity: 1;}
    70% {transform: rotate(360deg);}
    99%{transform: scale(20); opacity: 0;}
    100%{transform: scale(1); opacity: 0;}
}

// ~~~~~~~~~~~~~~~~~~~~~
// The Menu
// ~~~~~~~~~~~~~~~~~~~~~
.menu{
    position: absolute;
    z-index: 10;
    bottom: 0;
    // background-color: rgb(228, 228, 228);
    background-color: #EDE2DE;
    box-shadow: 0 0 5px;
    width: 100vw;
    height: 40px;
    // border: solid 1px;
}
.menu-btn{
    position: absolute;
    text-align: center;
    line-height: 36px;
    font-size: 25px;
    width: 100px;
    height: 36px;
    border: solid 2px #2c1D12;
    color: #2c1D12;
    padding: 0;
}
.open-menu{
    border: 2px solid;
    border-bottom: none;
    background-color: white;
    position: absolute;
    bottom: 40px;
    height: calc(100vh - 30px);
    max-height: 400px;
    width: calc(100vw - 4px);
}
.menu-row{
    // height: 20%;
    border-bottom: 1px solid #000;
    background-color: white;
    &.on {
        background-color: white;
        box-shadow: inset 0px 0px 5px #000;
    }
}
.menu-text{
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.05em;
    padding: 0;
    padding-left: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    &.on{
        font-size: 19px;
    }
}


// ~~~~~~~~~~~~~~~~~~~~~~~
// Menu Custom
// ~~~~~~~~~~~~~~~~~~~~~~~
.belt{
    top: -50%;
    position: relative;
    float: right;
    display: flex;
}

// .toolbelt{
//     background-image: url("../images/beltBackground.jpg");
//     background-size: 300%;
//     background-position: 50% 45%;
// }

.toolbelt-tool{
    position: absolute;
    right: 0;
    background-size: cover;
    height: 50px;
    width: 50px;
    opacity: 0;
}
.javascript{
    background-image: url("/images/javascript.png");
    animation: toolBeltSlide 8s infinite;
}
.html{
    background-image: url("/images/htmlLogo.png");
    animation: toolBeltSlide 8s 2s infinite;
}
.react{
    background-image: url("/images/reactLogo.png");
    animation: toolBeltSlide 8s 4s infinite;
}
.mongo{
    background-image: url("/images/mongoLeaf.png");
    animation: toolBeltSlide 8s 6s infinite;
}

@keyframes toolBeltSlide{
    0% { opacity: 1; transform: scale(0);}
    25% { transform: scale(0.5);}
    50% { transform: scale(1) translateX(-50px);}
    75% { opacity: 1; transform: translateX(-100px) scale(0.5) ;}
    99%{ opacity: 1; transform: translateX(-100px) scale(0) ;}
    100%{ opacity: 0; transform: translateX(-100px) scale(0) ;}
}

.earth{
    background-color: #fff;
    // replace with custom gif
    background-image: url(../images/earthStatic.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 2s ;
    &.on{
        background-image: url(../images/earth2.gif);
        transition: background-size 5s ;
        background-size: 200%;
    }
}

.wisdom{
    color: #fff;
    background-image: url(../images/wisdom.jpg);
    background-size: 135%;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    &.on{
        animation: wisdom 20s infinite;
    }
}
#words{
    width: 95%;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quote{
    font-size: 25px;
    font-style: italic;
    text-align: center;
}

.restart{
    background-image: url(../images/loading.png);
    background-size: 80%;
    background-position: 45%;
}


.contact-header{
    /* width: 70%; */
    /* margin: auto; */
    // border: solid 1px grey;
    height: 200px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px;
}

.adventure{
    background-image: url('../images/adventure.jpg');
    background-position: 20% 55%;
    background-size: 120%;
    &.on {
        animation: adventure 14s infinite;
    }
}
.adventure-header{
    width: 100%;
}

// ~~~~~~~~~~~~~~~~~~~~~~~~
// Menu Animations
// ~~~~~~~~~~~~~~~~~~~~~~~~
@keyframes adventure {
    0%, 100%{
        background-size: 120%;
    }
    50% {
        background-size: 110%;
    }
}
@keyframes contact {
    0%, 100%{
        background-color: #fff;
        background-image: url(../images/lomLogo.jpg);
    }
    50% {
        background-color: #fff;
        background-image: url(../images/gmailicon.jpg);
    }
}
@keyframes wisdom{
    0%, 100%{
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 65%;
    }
}


@media only screen and (min-width: 600px) {

    .folder-content{
        width: 100%;
        max-width: 600px;
    }

    .open-file, .open-info, .open-folder{
        max-width: 600px;
    }

    .open-folder{
        // display: block;
        // bottom: unset;
        // top: 50%;
        // transform: translate(-50%);
    }

    .open-file {
        top: 15%;
        height: 60vh;
    }

    .body-copy{
        align-self: center;
        max-width: 450px;
        padding-bottom: 20px;
        padding-top: 20px;
        font-size: 24px;
        line-height: 1;
    }

    p{
        font-weight: 200;
    }

    .body-title, .body-subtitle {
        align-self: center;
    }

    #Contact, .Contact {
        .body-title, .body-subtitle, .body-copy {
            align-self: baseline;
        }
        max-width: 300px;
    }

    .open-menu{
        width: 40vw;
    }

    .button{
        width: 300px
    }

    .tool-row{
        height: 50px;
    }

    .mission{
        width: 50%;
    }

}