body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
    #container {
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    }

.home {
    background-image: url(../images/idc2.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

p{  
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;        
}

.iconLobby {
    position: absolute;
    bottom: 50px;
    right: 0;
}
.deskIcon{
    width: 100px;
}

.folder{
    // position: relative;
    margin: auto;
    background-image: url(../images/folder.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 65px;
    width: 70px;
}
.folderText{
    font-size: 16px;
    letter-spacing: -0.03em;
    overflow-wrap: break-word;
    text-align: center;
    color: #fff;
    text-shadow: 0px 1px 1px #000, 0px 0px 5px #000
}

.redClose{
    position: absolute;
    top: -25px;
    right: 0;
    background-color: red;
    border-radius: 100%;
    width: 19px;
    height: 19px;
}
.windowTitle{
    // center this
    // width: 40%;
    position: absolute;
    top: -25px;
    
    text-align: center;
    width: 100%;
}

.folderBody {
    background-image: url("../art/dalia.jpg");
    background-size: 150%;
    background-position: 0%;
    background-repeat: no-repeat;
    border: 1px solid;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.folderContent{
    // position: relative;
    height: 40px;
    width: 100%;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
}


.crisFace, .openFile, .openInfo, .openFolder{
    position: absolute;
    border: solid 5px lightgray;
    border-top: solid 30px lightgray;
    border-radius: 5px;
}

.openInfo, .openFile{
    height: 90vw;
    width: 90vw;
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
}

.openInfo{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 85vh;
    width: 80vw;

}

.openFolder{
    background-color: #fff;
    height: 100vw;
    width: 100vw;
    max-width: 300px;
}

.menu{
    position: absolute;
    z-index: 10;
    bottom: 0vh;
    background-color: lightgray;
    box-shadow: 0 0 5px #000;
    width: 99.5vw;
    height: 30px;
    border: solid 1px;
}

.menuBtn{
    position: absolute;
    text-align: center;
    font-size: 22px;
    width: 25%;
    height: 28px;
    border: solid 1px;
    border-right: solid 2px;
}

.openMenu{
    border: 2px solid;
    border-bottom: none;
    background-color: lightgrey;
    position: absolute;
    bottom: 28px;
    height: calc(100vh - 30px);
    width: calc(100vw - 4px);
}

.menuRow{
    width: 100%;
    height: 14%;
    border-bottom: 1px solid #000; 
    background-color: rgba(235, 235, 235, 0.452);
    &.on {
        background-color: rgb(146, 146, 146);
        box-shadow: inset 0px 0px 5px #000;
    }
}


.menuText{
    font-size: 17px;
    letter-spacing: -0.05em;
    padding-left: 5%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    &.on{
        font-size: 19px;
    }
}

.crisFace, .crisFaceIconPic{
    background-image: url(../images/cestMoi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.openFile{
    background-position: 80%;
}
// .crisFaceIcon{
//     position: absolute;
//     top: 5vh; 
//     right: 5vw;
// }

.crisFaceIconPic{
    margin: auto;
    height: 10vh;
    width: 60px; 
    border-radius: 10px;
    background-size: 125%;
    background-position: 100%;
}

.earth{
    background-color: #fff;
    // replace with custom gif
    background-image: url(../images/earthStatic.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 2s ;

    &.on{
        background-image: url(../images/earth2.gif);
        transition: background-size 5s ;
        background-size: 200%;
    }
}

.wisdom{
    color: #fff;
    background-image: url(../images/wisdom.jpg);
    background-size: 135%;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    &.on{
        animation: wisdom 20s infinite;

    }
}

@keyframes wisdom{
    0%, 100%{
        background-position: 0% 100%;
    }
    50% {
        background-position: 0% 65%;
    }
}

.restart{
    background-image: url(../images/restart.jpg);
    background-size: 100%;
    background-position: 0% 50%;

    // put something to go "are you sure"
}

.contact{
    background-color: #fff;
    background-image: url(../images/lomLogo.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    &.on {
        animation: contact 10s infinite;
    }
}

@keyframes contact {
    0%, 100%{
        background-color: #fff;
        background-image: url(../images/lomLogo.jpg);
    }
    50% {
        background-color: #fff;
        background-image: url(../images/gmailicon.jpg);

    }
}

.adventure{
    background-image: url('../images/adventure.jpg');
    background-position: 20% 55%;
    background-size: 120%;
    &.on {
        animation: adventure 10s infinite;
    }
}

@keyframes adventure {
    0%, 100%{
        background-size: 120%;
    }
    50% {
        background-size: 110%;
    }
}
// 
//  Fake Bootstrap
// 

.d-none{
    display: none;
}